backend/__pycache__/
backend/.env
frontend/.env
backend/__pycache__/*
backend/__pycache__/main.cpython-313.pyc
backend/routers/__pycache__/auth.cpython-313.pyc
backend/routers/__pycache__/invitations.cpython-313.pyc
backend/routers/__pycache__/users.cpython-313.pyc
backend/routers/__pycache__/
backend/__pycache__/auth.cpython-313.pyc
backend/__pycache__/invitations.cpython-313.pyc
backend/__pycache__/users.cpython-313.pyc
backend/__pycache__/main.cpython-313.pyc
frontend/node_modules/
backend/routers/__pycache__/auth.cpython-313.pyc
backend/routers/__pycache__/invitations.cpython-313.pyc
backend/routers/__pycache__/users.cpython-313.pyc
backend/routers/__pycache__/
backend/__pycache__/auth.cpython-313.pyc
backend/__pycache__/invitations.cpython-313.pyc
backend/__pycache__/users.cpython-313.pyc
backend/__pycache__/main.cpython-313.pyc